<div class="button-area">
  <button
    class="btn"
    nz-button
    nzType="dashed"
    nzSize="default"
    nzShape="circle"
    *ngFor="let icon of icons"
    (click)="optionClick(icon)"
  >
    <i nz-icon [nzType]="icon"></i>
  </button>
</div>
<div class="tree-area">
  <nz-tree [nzData]="nodes" nzShowIcon></nz-tree>
  <nz-tree [nzData]="nodes" nzShowIcon [nzExpandedIcon]="multiExpandedIconTpl">
    <ng-template #multiExpandedIconTpl let-node let-origin="origin">
        <span
          *ngIf="!origin.isLeaf"
          nz-icon
          [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
          class="ant-tree-switcher-line-icon"
        ></span>
      <span *ngIf="origin.isLeaf" nz-icon nzType="file" class="ant-tree-switcher-line-icon"></span>
    </ng-template>
  </nz-tree>
</div>

