<ul nz-menu nzMode="horizontal">
  <li nz-submenu nzPlacement="bottomLeft" nzTitle="笔记本">
    <ul>
      <li nz-menu-group nzTitle="文件">
        <ul>
          <li nz-menu-item>新建</li>
          <li nz-menu-item>打开</li>
          <li nz-menu-item>关闭</li>
          <li nz-menu-item>设置</li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="安全">
        <ul>
          <li nz-menu-item>锁定</li>
          <li nz-menu-item>销毁</li>
          <li nz-submenu nzTitle="密钥管理">
            <ul>
              <li nz-menu-item >查看密钥状态</li>
              <li nz-menu-item>轮换笔记本根密钥</li>
              <li nz-menu-item>修改加密服务提供商</li>
              <li nz-menu-item>测试加密状态</li>
            </ul>
          </li>

        </ul>
      </li>

    </ul>
  </li>
  <li nz-submenu nzPlacement="bottomCenter" nzTitle="工具">
    <ul>

      <li nz-menu-group nzTitle="Item 1">
        <ul>
          <li nz-menu-item>Option 3</li>
          <li nz-menu-item>Option 4</li>
          <li nz-submenu nzTitle="Sub Menu">
            <ul>
              <li nz-menu-item >Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>

        </ul>
      </li>
    </ul>
  </li>

  <li nz-submenu nzPlacement="topLeft" nzTitle="同步">
    <ul>
      <li nz-menu-group nzTitle="更新">
        <ul>
          <li nz-menu-item>Option 1</li>
          <li nz-menu-item>Option 2</li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="拉取">
        <ul>
          <li nz-menu-item>Option 3</li>
          <li nz-menu-item>Option 4</li>
          <li nz-submenu nzTitle="Sub Menu">
            <ul>
              <li nz-menu-item nzDisabled>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
          <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
            <ul>
              <li nz-menu-item>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="服务器">
        <ul>
          <li nz-menu-item>Option 3</li>
          <li nz-menu-item>Option 4</li>
          <li nz-submenu nzTitle="Sub Menu">
            <ul>
              <li nz-menu-item nzDisabled>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
          <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
            <ul>
              <li nz-menu-item>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzPlacement="topLeft" nzTitle="服务器">
    <ul>

      <li nz-menu-group nzTitle="远端">
        <ul>
          <li nz-menu-item>Option 3</li>
          <li nz-menu-item>Option 4</li>
          <li nz-submenu nzTitle="Sub Menu">
            <ul>
              <li nz-menu-item nzDisabled>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
          <li nz-submenu nzDisabled nzTitle="Disabled Sub Menu">
            <ul>
              <li nz-menu-item>Option 5</li>
              <li nz-menu-item>Option 6</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
